<div class="container">
  <div class="span9">
    <h1>Rotten Mangoes</h1>
    <%= link_to "Submit a movie!", new_movie_path %>
  </div>
  <div class="row">
    <div class="col-md-6">  
      <%= form_tag movies_path, method: :get, class: "search_form", id: "movie_search" do %>
        <%= label_tag(:querylabel, "Search By Title Or Director") %> 
        <%= text_field_tag :query %>
        <%= submit_tag "Search" %> 
      <% end %>           
    </div>
    <div class="col-md-6">
      <%= form_tag movies_path, method: :get do %>
        <%= select_tag :value, options_for_select([['Under 90 minutes'],['Between 90 and 120 minutes'],['Over 120 minutes']]) %>
        <%= submit_tag "Search" %> 
      <% end %>
    </div>
  </div>
  <%= render 'movies' %>
</div>
